<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../styles/aboutUsPage.css">
    <link rel="stylesheet"  href="../styles/styles.css">
</head>
<body>
    <div class="message">
        <div class="messageText">
            <h1>Можем да доставим вашите ПОДАРЪЦИ навсякъде из България. Пазарувайте най-новата колекция, проверете тук.</h1>
        </div>
    </div>
    <nav>
        <div class="links">   
            <a href="./index.html" id="home">Home</a>
            <a href="./shopPage.html" id="sale">Sale</a>
            <a href="./services.html" id="Services">Services</a>
            <a href="./aboutUsPage.html" id="aboutUs">About Us</a>
            <a href="./contactUsPage.html" id="contactUs">Contact us</a></div>
     
    </nav>

    <div class="aboutUs">
        <div class="info">
            <h1>Иновативността няма граници</h1>
            <h2> Lasting flowers... lasting memories </h2>

            <p> Ние сме първият цветарски магазин в България, който се специализира 
                в дизайна на луксозни и автентични запазени цветни аранжировки.
            </p>

            <p> 
                Всеки уникален запазен аранжимент e създаден c най-голямо внимание към детайла. 
                Елегантен външен вид, превъзходно качество, точната доза характер са задължителни черти
                за нас !.
            </p>

            <p> Намираме се в Генерал Тошево като в момента магазина се ръководи самостоятелно, от
                собственика на магазина <span id="name">Иван Иванов</span> !
            </p>
        </div>

        <div class="image">
            <img src="../images/contactUsPage/flowers.jpg">
        </div>
    </div>
</body>
</html>