<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../styles/aboutUsPage.css">
    <link rel="stylesheet"  href="../styles/styles.css">
</head>
<body>
    <div class="message">
        <div class="messageText">
            <h1>Можем да доставим вашите ПОДАРЪЦИ навсякъде из България. Пазарувайте най-новата колекция, проверете тук.</h1>
        </div>
    </div>
    <nav>
        <div class="links">   
            <a href="#" id="home">Home</a>
            <a href="./shopPage.html" id="sale">Sale</a>
            <a href="./services.html" id="Services">Services</a>
            <a href="#" id="aboutUs">About Us</a>
            <a href="#" id="contactUs">Contact us</a></div>
     
    </nav>

</body>
</html>