<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../styles/index.css">
</head>
<body>
    <div class="message">
        <h1>
        Можем да доставим вашите ПОДАРЪЦИ навсякъде из България. Пазарувайте най-новата колекция, проверете тук.</h1>
    </div>

    <nav>
        <a href="#">Home</a>
        <a href="#">Gifts in rush</a>
        <a href="#">Sale</a>
        <a href="#">Services</a>
        <a href="#">About Us</a>
        <a href="#">Contact us</a>
    </nav>

    <div class="welcomeDiv">
        <img>
        <button> Shop now ></button>
    </div>

    <div class="popularCategories">
        <h1> POPULAR CATEGORIES </h1>
        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/boxedGlooms.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product2.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product3.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product4.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product5.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product6.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product8.jpg">
            
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product9.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product10.jpg">
        </div>
    </div>
    <h1> index </h1>
</body>
</html>