<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../styles/index.css">
    <link rel="stylesheet"  href="../styles/styles.css">
</head>
<body>
    <div class="message">
        <div class="messageText">
            <h1>Можем да доставим вашите ПОДАРЪЦИ навсякъде из България. Пазарувайте най-новата колекция, проверете тук.</h1>
        </div>
    </div>

    <nav>
        <div class="links">   
            <a href="#" id="home">Home</a>
            <a href="#" id="giftsRush">Gifts in rush</a>
            <a href="#" id="sale">Sale</a>
            <a href="#" id="Services">Services</a>
            <a href="#" id="aboutUs">About Us</a>
            <a href="#" id="contactUs">Contact us</a></div>
     
    </nav>

    <div class="welcomeDiv">
        <a href="#"> Shop now ></a>
        <img src="../images/homePage/background.png">
    </div>

    <div class="popularCategories">
        <h1> POPULAR CATEGORIES </h1>
        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/boxedGlooms.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product2.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product3.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product4.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product5.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product6.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product8.jpg">
            
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product9.jpg">
        </div>

        <div class="category">
            <h1>Boxed glooms</h1>
            <img src="../images/homePage/product10.jpg">
        </div>
    </div>
    <h1> index </h1>
</body>
</html>