<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../styles/styles.css">

</head>
<body>
    <div class="message">
        <div class="messageText">
            <h1>Можем да доставим вашите ПОДАРЪЦИ навсякъде из България. Пазарувайте най-новата колекция, проверете тук.</h1>
        </div>
    </div>

    <nav>
        <div class="links">   
            <a href="#" id="home">Home</a>
            <a href="#" id="giftsRush">Gifts in rush</a>
            <a href="#" id="sale">Sale</a>
            <a href="./services.html" id="Services">Services</a>
            <a href="#" id="aboutUs">About Us</a>
            <a href="#" id="contactUs">Contact us</a></div>
    </nav>

    <div class="services">
        <div class="serviceType">
            <div class="image">
                <img>
            </div>

            <div class="info">
                <h1></h1>
                <h2></h2>
                <p></p>
                <p></p>
                <a href="#">Browse Designs</a>
            </div>
        </div>
    
        <div class="serviceType">
            <div class="image">
                <img>
            </div>

            <div class="info">
                <h1></h1>
                <h2></h2>
                <p></p>
                <p></p>
                <a href="#">Browse Designs</a>
            </div>
        </div>

        <div class="serviceType">
            <div class="image">
                <img>
            </div>

            <div class="info">
                <h1></h1>
                <h2></h2>
                <p></p>
                <p></p>
                <a href="#">Browse Designs</a>
            </div>
        </div>

        <div class="serviceType">
            <div class="image">
                <img>
            </div>

            <div class="info">
                <h1></h1>
                <h2></h2>
                <p></p>
                <p></p>
                <a href="#">Browse Designs</a>
            </div>
        </div>
    </div>
</body>
</html>