<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../styles/styles.css">
    <link rel="stylesheet"  href="../styles/services.css">

</head>
<body>
    <div class="message">
        <div class="messageText">
            <h1>Можем да доставим вашите ПОДАРЪЦИ навсякъде из България. Пазарувайте най-новата колекция, проверете тук.</h1>
        </div>
    </div>

    <nav>
        <div class="links">   
            <a href="#" id="home">Home</a>
            <a href="#" id="sale">Sale</a>
            <a href="./services.html" id="services">Services</a>
            <a href="#" id="aboutUs">About Us</a>
            <a href="#" id="contactUs">Contact us</a></div>
    </nav>

    <div class="services">
        <div class="serviceType">
            <div class="leftSide">
                <div class="image" style="float: left;">
                    <img src="../images/servicesPage/rose.jpg">
                </div>
            </div>
            <div class="rightSide">
                <div class="info" style="float: right;">
                    <div class="content">
                        <h1>Съхранени цветя за всяка любовна история</h1>
                        <h2>Цветята са най-истинският език на любовта</h2>
                        <p>Оставете ни да създадем магия в най-добрите моменти във връзката ви. Нашите персонализирани 
                            аранжировки гарантирано ще накарат някого да се усмихне 365 пъти за една година!</p>
                        <p>Първа среща | Месечен | Годишнина | Предложение | Годежно парти | Деспедида де Солтера | Тинг Хун | Сватби и годишнини</p>
                        <a href="#">Show products</a>
                    </div>
            </div>            
            </div>
        </div>       
        <div class="serviceType">
            <div class="leftSide">
                <div class="image" style="float: right;">
                    <img src="../images/servicesPage/marriage.jpg">
                </div>
            </div>
        <div class="leftSide">
            <div class="info" style="float: left;">
                    <div class="content">

                        <h1>
                            Сватби</h1>
                        <h2>
                            Цветя за сватби, които можете да запазите години след сватбата!</h2>
                        <p>Ние можем да персонализираме 
                            нашите запазени цветни творения, 
                            за да отговарят на вашата тема, цветен мотив и детайли на дизайна. 
                            Опаковката за дисплей и подарък също може да бъде персонализирана 
                            според предпочитанията на двойката.</p>
                        <p>Булчински букет
                            Корсаж и бутониери
                            Специален подарък за булката
                            Аранжиране на подаръци за родители
                            Подаръци за спонсори и антураж
                            Сувенири за гости/подаръци
                            Църковни приноси</p>
                            <a href="#">Show products</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="serviceType">
            <div class="leftSide">
                <div class="image" style="float: left;">
                    <img src="../images/servicesPage/whiteFlowers.jpg">
                </div>
            </div>
        <div class="leftSide">
            <div class="info" style="float: right;">
                    <div class="content">
                        <h1>
                            Съчувствие и спомен</h1>
                        <h2>
                           
Красив начин да покажете, че помните...</h2>
                        <p>Независимо дали искате да изпратите обмислен подарък, 
                            за да изразите съболезнованията си, или да донесете 
                            красива аранжировка при посещенията си на гробището - 
                            запазените цветни аранжировки от нас остават 
                            красиви с години.</p>
                        <p>Нашите запазени цветни аранжировки 
                            са перфектният избор за възпоменателни/погребални 
                            услуги, защото остават свежи и изглеждащи през 
                            цялото събитие до погребението и след това.</p>
                            <a href="#">Show products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>