#sale {
    color: rgba(176,161,113,255);
}

body {
    background-image: url("../images/rushPage/background.jpg");
}

.products {
    display: inline-block;
    width: 70%;
    margin-left: 20vw;
}

.products .product {
    display: inline-block;
    width: 33%;
}